# Dependencies
node_modules

# Env files (except .env.example)
.env*
!.env.example

# Turbo
.turbo

# Test Coverage
coverage/

# Playwright MCP
.playwright-mcp/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
